body {
    margin: 8px;
    padding: 0;
    /* text-align: center; */
    background-color: 	#76b6c4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    color: #def3f6;
}

/* h2, h3 {
    width: 80%;
    height: 100%;
    text-align: center;
} */

#gameContainer {
    width: 80%;
    height: 80%;
    /* background-color: #7fcdff; */
    background-color: #76b6c4;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: .25fr .75fr;
    grid-template-rows: .75fr .25fr;
    grid-template-areas: "game game"
                         "btmLeft btmRight";
}

canvas {
    background-image: url('images/seaPixil.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    justify-self: center;
}

main {
    grid-area: game;
    text-align: center;
}

#start #gameOver {
    font-family: 'Chelsea Market', cursive;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#start a, #gameOver a {
    font-family: 'Chelsea Market', cursive;
    border: 3px solid #def3f6;
    color:#def3f6;
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 150px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 30px;
}

#start a:hover, #game-over a:hover { background-color: #ffffff; color: #1bafdb; }

aside {
    border: 10px solid #def3f6;
    font-size: 25px;
    padding: 15px;
}

#btmLeft {
    grid-area: btmLeft;
    font-family: 'Chelsea Market', cursive;
    color: #def3f6;
}

#btmRight {
    grid-area: btmRight;
    font-family: 'Chelsea Market', cursive;
    color: #def3f6;
}